@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    width: 100%;
    max-width: 100%;
    height: 100%;
  }

  body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  /* Hide spin (up/down button) for <input type="number" /> */
  input[type='number'] {
    /* Firefox */
    appearance: textfield;
  }

  /* Hide spin (up/down button) for Chrome, Safari, Edge, Opera */
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }
}

@layer components {
  /* Add custom components here */
}

@layer utilities {
  .all-revert *:not(.ignore-all-revert *) {
    all: revert;
  }
}
