@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-mix-white-5 {
    background-color: color-mix(
      in oklab,
      theme('colors.white') 5%,
      transparent
    );
  }

  .bg-mix-black-5 {
    background-color: color-mix(
      in oklab,
      theme('colors.black') 5%,
      transparent
    );
  }
}

html,
body {
  width: 100%;
  max-width: 100%;
  height: 100%;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.all-revert *:not(.ignore-all-revert *) {
  all: revert;
}

/* Hide spin (up/down button) for <input type="number" /> */
.input-number-no-spin {
  appearance: textfield;
}

.input-number-no-spin::-webkit-inner-spin-button,
.input-number-no-spin::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}
