$width-xs: 0px;
$width-sm: 600px;
$width-md: 900px;
$width-lg: 1200px;
$width-xl: 1536px;
 
:export {
  width-xs: $width-xs;
  width-sm: $width-sm;
  width-md: $width-md;
  width-lg: $width-lg;
  width-xl: $width-xl;
}