@import "@/styles/functions.module.scss";

.container {
  width: 100%;
  padding: 20px 0 20px 20%;

  @include width-le($width-lg) {
    padding: 20px 0 20px 15%;
  }

  @include width-le($width-md) {
    padding: 20px;
    text-align: center;
  }
}

.intro1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.5rem;

  @include width-le($width-lg) {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

.intro2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;

  @include width-le($width-lg) {
    font-size: 2.5rem;
    line-height: 3rem;
  }

  @include width-le($width-sm) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

.intro3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
  margin: 20px 0 0;
  color: var(--mui-palette-primary-main);

  @include width-le($width-lg) {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}

.cursor {
  display: inline-block;
  width: 0;
  padding: 0 0 0 10px;
  text-align: center;

  &:global {
    animation: 2s flash infinite;
  }
}