.container {
  width: 100%;
  padding: 20px 0 20px 25%;
}

.intro1 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 3.5rem;
}

.intro2 {
  font-size: 3rem;
  font-weight: 900;
  line-height: 3.5rem;
}

.intro3 {
  font-size: 2rem;
  font-weight: 900;
  line-height: 2rem;
  margin: 20px 0 0;
  color: var(--mui-palette-primary-main);
}

.intro1, .intro2, .intro3 {
  &::after {
    content: '.';
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 20px;  
  text-align: center;

  &:global {
    animation: 2s flash infinite;
  }
}